__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/


# Environment

.env
.env.*
!.env.example


sarvam_local/


# Database


*.db
*.sqlite
*.sqlite3


# Uploads / User Data


uploads/
static/uploads/


# Models / AI files


*.bin
*.pt
*.pth
*.onnx
*.safetensors


# Logs

*.log


# IDE


.vscode/
.idea/


# OS


.DS_Store
Thumbs.db


# Build

build/
dist/
*.egg-info/


# Large tools

poppler-*/
tesseract-*/



*.tmp
*.temp
*.bak

.ipynb_checkpoints/